<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear />
    <add key="SubscriptionKey" value="" />
    <add key="Endpoint" value="https://api.cognitive.microsofttranslator.com/" />
    <add key="Region" value="" />
    <add key="InputFile" value="C:\OPEN-Input\input.txt" />
    <add key="OutputFile" value="C:\OPEN-Output\output.txt" />
  </appSettings>
</configuration>